# Web scraping and parsing
newspaper3k
beautifulsoup4
lxml==4.9.3
requests
feedparser

# Data & NLP
pandas
nltk
python-dateutil
numpy==1.24.4


# ML and Transformers
transformers>=4.30.0

# Use CPU-only PyTorch to save 2+ GB
https://download.pytorch.org/whl/cpu/torch-2.1.2%2Bcpu-cp310-cp310-linux_x86_64.whl

# Streamlit and Visualization
streamlit
jinja2>=3.0
protobuf==3.20.0
Pillow
