# Web scraping and parsing
newspaper3k
beautifulsoup4
lxml==4.9.3
urllib3
requests
feedparser

# Data & NLP
pandas
nltk
python-dateutil

# ML and Transformers
transformers
torch

# Streamlit and Visualization
streamlit
jinja2>=3.0
protobuf==3.20.0
Pillow
